@model IEnumerable<BlogWithDb.Models.PostsModel>

<div class="container">
        <div class="text-center">
            <h1><b>BLOG</b><br/></h1>
            <hr />
        </div>  

        <div>

        </div>

        <table class="table table-bordered table-responsive table-hover">  
            <tr>    
                <th></th> 
            </tr>  
            @foreach (var d in Model)  
            {  
                <tr>
                    @*@d.Title = HttpUtility.HtmlDecode(url);*@
                    <td><a href="blog/read/@d.Id">@Html.Raw(@d.Title)</a></td>     
                </tr>  
            }  
        </table>  
</div>
