@model IEnumerable<BlogWithDb.Models.PostResponseModel>

<div class="container">
        <div class="text-center">
            <h1><b>BLOG</b><br/></h1>
            <hr />
        </div>  

       

    <div class="row">
        <div class="col">
            @foreach (var d in Model)  
            {  

                <div id="for-hover">
                    <code style="font-size: 15px;" class="text-muted">
                        @Html.Raw(@d.Date)
                    </code>
                    <a class="link-dark text-decoration-none" style="font-size: 19px;" href="blog/read/@d.Id">@Html.Raw(@d.Title)</a>
                    <hr style="width:80%; margin-top: -5px;" />
                </div>
            }  
        </div>
        <div class="col">
            <div id="newsletter-all" style="position: absolute;">
                <div class="sticky-top" style="position:relative;">
                    <h6 id="newsletter">NEWSLETTER</h6>
                    <div id="newsletter-text">
                        Subscribe to my telegram channel <br /><a class="text-decoration-none" href="https://t.me/Abduqayumov">@@Abduqayumov</a> where I share short <br />thoughts about technical and non-technical.
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</div>
