@model IEnumerable<BlogWithDb.Models.PostsModel>
@{
    ViewBag.Title = "Index";
}
<div class="text-center">
    <h1><b>BLOG</b><br/></h1>
    <hr />
</div>  

<div>

</div>

<table class="table table-bordered table-responsive table-hover">  
    <tr>    
        <th></th> 
    </tr>  
    @foreach (var d in Model)  
    {  
        <tr>  
            <td><a href="blog/read/@d.Id">@d.Title</a></td>     
        </tr>  
    }  
</table>  