@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About me";
}
<script src="~/js/jquery/jquery.min.js"></script>
<div class="container">
    <div id="divMainBody" style="padding-left: 300px; padding-right: 300px">
        <div class="text-center">
            <h4>Hi! I'm Abbos Abduqayumov and here's my story...</h4>
            <hr />
        </div>
        <div style="font-size: 16px;" class="text-center">
            Story
        </div>
        <div>
            <p style="text-align: right;">
                <button class="btn btn-outline-info me-2" id="btnGenerate">PDF</button>
            </p>
        </div>
    </div>
    <div class="col sticky-top" id="newsletter-all-intext">
            <h6 id="newsletter">NEWSLETTER</h6>
            <div id="newsletter-text">
                Subscribe to my telegram channel <br /><a class="text-decoration-none" href="https://t.me/Abduqayumov">@@Abduqayumov</a> where I share short <br />thoughts about technical and non-technical.
            </div>
        </div>
</div>
<script src="~/js/PDFGenerator.js"></script>
<@*script>
    $("#btnGenerate").click(function() {
    var html = $("#divMainBody").html();
    html = html.replace(/</g, "start").replace(/>/g, "end");

    window.open("../../PDFGenerator/Generator?html="+html, "_blank");
});
</script>*@