@{
    ViewData["Title"] = "Abbosjon's Blog!";
}

<div class="container-fluid" id="home">
        <div class="container">
            <br /><br /><br /><br />
            <div class="row g-5 align-items-center">
                <div class="col-lg-3">
                    <img class="rounded-circle" width="280" height="280" src="img/Abbos.png" alt="">
                </div>
                <div class="col-lg-6 py-2 pb-0">
                    <h3 class="text-primary mb-3">I'm</h3>
                    <h1 class="display-5 mb-3">Abbos Abduqayumov</h1>
                    <p class="text-muted">Hi there. I'm .NET engineer. I write about technical and non-technical.</p>
                    <h2 class="typed-text-output d-inline"></h2>
                    <div class="typed-text d-none">Backend developer, Frontend devloper, Hight experineted engee, Apps Designer, Apps Developer</div>
                    <div class="d-flex align-items-center pt-5">
                        <a class="btn btn-outline-info py-3 px-4 me-5" asp-controller="Blog" asp-action="Index">Read Blog</a>
                        <a href="" class="btn btn-outline-info py-3 px-4 me-5">About me</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
